<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/register.css" type="text/css">
    <script src="/public/js/jquery-3.1.1.min.js"></script>
    <script src="/public/js/register.js"></script>
</head>
<style>

</style>
<body>
    <div class="register" id="register">
        <h4>欢迎注册博客账号！</h4>
        <div>
            <label for="username">用&nbsp;&nbsp;户&nbsp;名：&emsp;
                <input type="text" id="username" name="username" placeholder="username">
            </label>
        </div>
        <div>
            <label for="pwd">密&emsp;&emsp;码：&emsp;
                <input type="password" id="pwd" name="password" placeholder="password">
            </label>
        </div>
        <div>
            <label for="repwd">确认密码：&emsp;
                <input type="password" id="repwd" name="repassword" placeholder="repassword">
            </label>
        </div>
        <a href="javascript: ;" id="zhuce">注册</a>
        <!--<a href="./index" id="zhuce">注册</a>-->
        <p>已有账号？<a href="./login">马上登陆</a></p>
        <p class="tishi"></p>
    </div>
</body>
</html>